/* line 1, _settings.scss */
:root {
  --bg: #ffffff;
  --bg-is-light: true;
  --bg-minor-shade: #f7f7f7;
  --bg-minor-shade-is-light: true;
  --bg-major-shade: #ededed;
  --bg-major-shade-is-light: true;
  --bg-half-shade: #808080;
  --bg-half-shade-is-dark: true;
  --color-btn-bg: #ff6163;
  --color-btn-bg-is-dark: true;
  --color-btn-bg-minor-shade: #ff7173;
  --color-btn-bg-minor-shade-is-dark: true;
  --color-btn-bg-major-shade: #ff8183;
  --color-btn-bg-major-shade-is-dark: true;
  --color-btn-bg-half-shade: #ffb0b1;
  --color-btn-bg-half-shade-is-light: true;
  --color-accent-text: #1b2738;
  --color-accent-text-is-dark: true;
  --color-accent-text-minor-shade: #283b54;
  --color-accent-text-minor-shade-is-dark: true;
  --color-accent-text-major-shade: #364f71;
  --color-accent-text-major-shade-is-dark: true;
  --color-accent-text-half-shade: #6e8eb9;
  --color-accent-text-half-shade-is-dark: true;
  --color-text-dark: #333333;
  --color-text-dark-is-dark: true;
  --color-text-dark-minor-shade: #474747;
  --color-text-dark-minor-shade-is-dark: true;
  --color-text-dark-major-shade: #5c5c5c;
  --color-text-dark-major-shade-is-dark: true;
  --color-text-dark-half-shade: #999999;
  --color-text-dark-half-shade-is-dark: true;
  --color-text-light: #ffffff;
  --color-text-light-is-light: true;
  --color-text-light-minor-shade: #f7f7f7;
  --color-text-light-minor-shade-is-light: true;
  --color-text-light-major-shade: #ededed;
  --color-text-light-major-shade-is-light: true;
  --color-text-light-half-shade: #808080;
  --color-text-light-half-shade-is-dark: true;
  --icons_pack: insales-default;
  --controls-btn-border-radius: 6px;
  --color-notice-warning: #fff3cd;
  --color-notice-warning-is-light: true;
  --color-notice-warning-minor-shade: #fff3ca;
  --color-notice-warning-minor-shade-is-light: true;
  --color-notice-warning-major-shade: #fff2c8;
  --color-notice-warning-major-shade-is-light: true;
  --color-notice-warning-half-shade: #ffedb3;
  --color-notice-warning-half-shade-is-light: true;
  --color-notice-success: #d4edda;
  --color-notice-success-is-light: true;
  --color-notice-success-minor-shade: #d3ecd9;
  --color-notice-success-minor-shade-is-light: true;
  --color-notice-success-major-shade: #d1ecd7;
  --color-notice-success-major-shade-is-light: true;
  --color-notice-success-half-shade: #bee4c7;
  --color-notice-success-half-shade-is-light: true;
  --color-notice-error: #f8d7da;
  --color-notice-error-is-light: true;
  --color-notice-error-minor-shade: #f8d7da;
  --color-notice-error-minor-shade-is-light: true;
  --color-notice-error-major-shade: #f8d5d8;
  --color-notice-error-major-shade-is-light: true;
  --color-notice-error-half-shade: #f5c4c8;
  --color-notice-error-half-shade-is-light: true;
  --color-notice-info: #cce5ff;
  --color-notice-info-is-light: true;
  --color-notice-info-minor-shade: #cae4ff;
  --color-notice-info-minor-shade-is-light: true;
  --color-notice-info-major-shade: #c8e3ff;
  --color-notice-info-major-shade-is-light: true;
  --color-notice-info-half-shade: #b3d7ff;
  --color-notice-info-half-shade-is-light: true;
  --font-family: 'PT Root UI';
  --font-size: 16px;
  --font-family-heading: 'PT Root UI';
  --heading-ratio: 1.5;
  --heading-weight: 400;
  --collection_count: 10;
  --search_count: 10;
  --blog_size: 6;
  --product_not_available: shown;
  --layout-content-max-width: 1408px;
  --delta_sidebar: 2;
  --sidebar_index_show: false;
  --sidebar_index_position: left;
  --sidebar_collection_show: false;
  --sidebar_collection_position: left;
  --sidebar_cart_show: false;
  --sidebar_cart_position: left;
  --sidebar_product_show: false;
  --sidebar_product_position: left;
  --sidebar_blog_show: false;
  --sidebar_blog_position: left;
  --sidebar_article_show: false;
  --sidebar_article_position: left;
  --sidebar_page_show: false;
  --sidebar_page_position: left;
  --sidebar_compare_show: false;
  --sidebar_compare_position: left;
  --sidebar_search_show: false;
  --sidebar_search_position: left;
  --feedback_captcha_enabled: false;
  --favorite_enabled: true; }

/* line 4, theme.scss */
.outside-widgets .delete-widget-link {
  display: none; }

/* line 8, theme.scss */
.outside-widgets .add-widget-link {
  display: none; }
